@import "../style";

.l_sub {
    .dot_line {
        display: -webkit-box;
        word-wrap: break-word;
        -webkit-line-clamp: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 38px;
        height: 38px;
        /* autoprefixer: off */
        -webkit-box-orient: vertical;
        /* autoprefixer: on */
        &_two {
            $heightArea: 30px;
            -webkit-line-clamp: 2;
            line-height: $heightArea;
            height: $heightArea * 2;
        }
    }
}
@media screen and (min-width: 1280px) {
    .under {
        width: 100%;
        span,
        p {
            display: inline;
            padding-bottom: 2px;
            background-size: 0 2px;
            transition: background-size 0.5s;
            background-image: linear-gradient(#000, #000);
            background-repeat: no-repeat;
            background-position: left 0 bottom 0;
        }
        &.on,
        &:hover {
            span,
            p {
                background-size: 100% 2px;
            }
        }
    }
}
@media screen and (max-width: 1280px) {
    .dot_line {
        display: -webkit-box;
        word-wrap: break-word;
        -webkit-line-clamp: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: rem(64px);
        height: rem(64px);
        /* autoprefixer: off */
        -webkit-box-orient: vertical;
        /* autoprefixer: on */
        &_two {
            $heightArea: rem(70px);

            -webkit-line-clamp: 2;
            line-height: $heightArea;
            height: $heightArea * 2;
        }
    }
}
